html, body {
  height: 100%;
  width: 100%;
  background-color:#3C3B3D;

}

h1{
  color: #BAB559
}

.cor1{
  background: #BAB559;
}


.conteudo:hover{
  cursor:pointer;
  transition-duration:0.5s;
  transform: scale(1.2);
  z-index: 999;
  
}

.conteudo{
  display: infline-block;
  width: 270px;
  margin-right: 10px;
  border-radius: 3px;
  overflow: auto;
  transition: 0.5s;
}

.conteudo: first-child{
  margin-left: 70px;
}


.links{
  display: infline-block;
  width: 100px;
  margin-right: 10px;
  border-radius: 3px;
  overflow: auto;
  transition: 0.5s;
}

.links:.conteudo: first-child{
  margin-left: 70px;
}


